.header{
    width: 100%;
    height: 8%;
    display: flex;
}

.logo {

    margin-top: 1%;
    width: 2.5%;
    margin: auto 0;
    margin-left: 5%;
}

h2 {
    display: inline;
    font-family: "Golos Text", serif;
    color: #00457F;
    margin: auto 0;
    margin-left:0.5%;
    text-align: center;
}

ol {
    list-style-type: none;
    display: flex;
    margin: auto 0;
    width: 50%;
}

li {
    margin-left: 2%;
}

a{
    text-decoration: none;
}
