.info_body {
    width: 100%;
    height: 78%;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
}

.statisCards {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.static {
    width: 45%;
    height: 80%;
    margin-left: 5%;
    padding-top: 1%;
}

.pi {
    color: #00457F;
    margin-left: 5.1%;
    padding-top: 1%;

}

.break {
    flex-basis: 100%;
    height: 0;
}

.dynamic {
    width: 45%;
    height: 100%;
}